[submodule "external/sens"]
	path = external/sens
	url = https://github.com/juv4uk/sens.git
[submodule "external/sens-evidence-decoder"]
	path = external/sens-evidence-decoder
	url = https://github.com/juv4uk/sens.git
